*.sqlite3
# env
.env
.env.local
.env.*.local
backend/.env
frontend/.env
frontend/.env.local

# но example-файлы коммитим!
!**/.env.example

# python
__pycache__/
*.py[cod]
venv*/
.venv/
venv2/

# node
node_modules/
dist/

# uploads (не тащим мусор из разработки)
backend/uploads/*
!backend/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db